version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "maven-compiler-plugin"
        versions: [".*-jboss.*"]
